.jumbotron {
    padding: 7rem;
    background-color: #e2edff;
}

.jumbotron img {
    width: 200px;
    border-radius: 50%;
}

.footer {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 50px;
    line-height: 50px;
    background: #0d6efd;
    color: #fff;
}


/* about me */

#about h2 {
    color: #0d6efd;
    margin: 2em;
}


/* bg fortofolio */

#project {
    padding-top: 0;
    margin: 1em 0;
    background-color: #e2edff;
}

#project h2 {
    color: #0d6efd;
    margin: 2em;
}

#project .card {
    box-shadow: 0 0 20px #ccc;
}

.card img {
    width: 100%;
    height: 18em;
}


/* CSS TEAM */


/* #myteam {
    padding: 2rem;
    margin: 0, 1em;
} */

.team h2 {
    color: #0d6efd;
    margin: 2em;
}

.team .item {
    /* width: 400px;
    height: 400px; */
    position: relative;
    overflow: hidden;
}


/* .img-fluid {
    width: 500px;
    height: 400px;
} */

.team .des {
    background: #0d6efd;
    color: #0d6efd;
    text-align: center;
    border-top-right-radius: 93%;
    transition: 0.5s ease-in-out;
    position: absolute;
    width: 88%;
    bottom: 24px;
}

.team .item:hover .des {
    height: 100%;
    background: #e2edff;
    position: absolute;
    width: 100%;
    padding: 5em;
    top: 0;
    border-top-right-radius: 0;
    font-size: 20pt;
    font-style: italic;
}


/* Blog */

.blog {
    padding: 1rem;
    margin: 0, 1em;
    margin: 4em 0;
    position: relative;
    background-color: #e2edff;
}

.blog h2 {
    color: #0d6efd;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
}

.blog .card img {
    width: 100%;
    height: 12em;
}

@media and (max-width: 768px) {
    .team .item img {
        width: 100%;
    }
}

.blog .card-title {
    color: #0d6efd;
}

.blog .card-body {
    padding: 1em;
}


/* akhir Blog */


/* contact */

#contact {
    padding: 0rem;
}

#contact h2 {
    color: #0d6efd;
    margin: 1em;
}